<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title>PWA Demo</ion-title>
            <ion-buttons slot="primary">
              <ion-button fill="solid" color="secondary" (click)="logout()">
                Logout
                <ion-icon slot="end" name="logout"></ion-icon>
              </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-grid>
        <ion-row style="height: auto;">
            <ion-col>
                <ion-item style="align-items: center;">
                    <img src="assets/images/bg.jpg" style="max-width: 80%; margin:auto;" />
                </ion-item>
                <app-offline></app-offline>                
            </ion-col>
            <ion-col>
              <ion-text>
                  <h2>PWA Features</h2>
              </ion-text>
              <ion-text>
                <h3>1. Pages can be cached when online and page contents are accessible while offline.</h3>
              </ion-text>
              <ion-text color="primary">
                <h4>Turn off the internet and refresh this page, to see the page data and images persist.</h4>
              </ion-text>
              <ion-text>
                <h3>2. While the device is offline, data entered can be stored locally in browser and Synced with server when the device goes online.</h3>
              </ion-text>
              <ion-text color="primary">
                <h4>Turn off the internet and add a customer. Turn on the internet and refresh to see the data persist.</h4>
              </ion-text>  
              <ion-text>
                <h3>3. Installable to homescreen in mobile devices and desktop to provide app like experience.</h3>
              </ion-text>
              <ion-text>
                <h3>4. Consumes less space than apps installed in mobile devices.</h3>
              </ion-text>
              <ion-text>
                <h3>5. Chrome provides good support for PWA.In ios safari has limited support.</h3>
              </ion-text>
              <ion-text>
                <h3>6. Provides push notification feature to the website.</h3>
              </ion-text>
              <ion-text>
                <h3>7. In unsupported browsers it defaults to regular website.</h3>
              </ion-text>              
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>